<header>
    <%- include("partials/header"); %>
</header>
    <div class="container">
        <h1>About</h1>
        <p>
            <%= midContent %>
        </p>
    </div>

    <footer>
        <%- include("partials/footer"); %>
    </footer>