<header>
    <%- include("partials/header"); %>
</header>

<div class="container">
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= content %>
    </p>
</div>

<footer>
    <%- include("partials/footer"); %>
</footer>